@import url('https://fonts.googleapis.com/css2?family=Montserrat');

html, body {
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#content {
    width: 100%;
    margin: auto;
    height: 100%;
    overflow-y: scroll;
}

button {
    min-width: 5rem;
    max-width: 200px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1em;
    border-bottom: 1px solid white;
    margin: 1vh 2vw;
    font-family: "Montserrat", sans-serif;
}

img {
    max-height: 50vh;
    max-width: 80vw;
}

p {
    margin: 1vh 5vw;
    font-size: 20px;
}

hr {
    margin-top: 5vh;
    width: 50%;
}

.body {
    height: 100%;
    text-align: center;
    margin: 0px;
    flex: 1 0 auto;
    width: 80%;
    margin: auto;
}

.bodyDesc {
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.header {
    background-color: black;
    color: white;
    margin: none;
    padding-top: 10px;
    padding-bottom: 1.5vh;
}

.header button {
    color: white;
}

.footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: white;
    flex-shrink: 0;
}

.center {
    margin: auto;
    text-align: center;
}

#map {
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 5vh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}